
      h1{color:#187b9A;
      margin-left:50px;
    padding:100px;
    padding-bottom:20%}
        *{border:solid}
      .firstName{border:dashed 5px blue;
        text-align:center;
    }
    .projectlist{
        display:flex;
        justify-content :space-between ;
    }
    .lastName{
        text-align: center;
    }
    a:visited{
      color:green
    }
    a:link{
      color:yellow
    }   
    .menu{
      margin-right:20px;


    } 
    .menu a{
      margin-right:40px;
      position: relative;
      top:30%;
      left:50%;

    }
    .item{
       position:relative
    }
    .item p{
      position:absolute;
      top:40%;
      left:20%;
      transform: translate(-20%,-40%);
      opacity: 0;
    }
    .item:hover p{
      opacity: 1;
    }
    .item:hover img{
      opacity: 0.33;
    }
